table {
  border: 1px solid #051322;
  padding: 24px;
  border-radius: 10px;
}

thead th {
  font-size: 16px;
  font-weight: lighter;
  min-width: 6em;
}

tbody tr td {
  line-height: 2em;
  width: 6em;
}

.rank-data {
  text-align: center;
  color: rgb(48, 47, 47);
}

.rank-index {
  color: #128296;
}
