.container {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: flex-start;
}

.mine-ctrl-wrapper {
  margin: 0 20px;
  /* align-self: center; */
}

.rank-list-container {
  display: flex;
  margin: 0 20px;
  /* align-self: center; */
}
